##
## Export of functions
##
export(CreateNeosComm,
       NemailHelp,
       Nhelp,
       NlistAllSolvers,
       Nping,
       NprintQueue,
       Nversion,
       Nwelcome)
##
## Export of S4-classes
##
exportClasses(NeosComm, NeosAns)
##
## Export of S4-methods
##
exportMethods(show)

