##
## Import directives
##
import(XML)
import(RCurl)
##
## Export of functions
##
export(CreateNeosComm,
       CreateXmlString,
       NemailHelp,
       NgetFinalResults,
       NgetJobInfo,
       NgetJobStatus,
       NgetSolverTemplate,
       Nhelp,
       NkillJob,
       NlistAllSolvers,
       NlistCategories,
       NlistSolversInCategory,
       Nping,
       NprintQueue,
       NsubmitJob,
       Nversion,
       Nwelcome)
##
## Export of S4-classes
##
exportClasses(NeosComm, NeosAns, NeosXml, NeosJob)
##
## Export of S4-methods
##
exportMethods(show)

